*.tmp
*.temp
*.swp
*~
.DS_Store
Thumbs.db
*.log
*.out
*.aux
*.bak
*.old
*.rej
*.json
lotes_de_prueba/
test/
tests/
pruebas/
pruebas_*/
*caché*
*cache*
*.err
*.dump
.*.swp
.bash_history
*.rar
*.7z
*.tar.gz
*.exe
*.class
*.o
*.bin
*~
!*.zip
!*.tar
PROJECT_STANDARDS.md
instructions.md
informe.mapa*
